
.header{
    position: relative;
    width: auto;
    height: auto;
    background-color: rgb(143, 112, 112);
            box-shadow: 0px 3px 3px rgb(143, 112, 112);

    top: 2.5%;
    /* opacity: 75%; */

}
.all-icons{
    width: auto;
    height: auto;
    /* background-color: black; */
display: flex;
   font-size: small;
   margin-left: 12%;
   margin-right: 12%;

}
a{
margin-bottom: auto;
    margin-top: auto; 
    margin-left: 1%;  
    text-decoration: none;

}
.phone{
/* position: relative;
left: 0; */
}
.nr{
color: white;
}
.nr:hover{
    color: black;
}
.location{
    margin-left: 5%;
}
.loc{
    color: white;
    }
    .loc:hover{
        color: black;
    }
.message{
  margin-left: 5%;
}
.mes{
    color: white;
    }
    .mes:hover{
        color: black;
    }
    .logo{
        width: auto;
        height: 13%;
        background-color: rgb(255, 255, 255);
        /* box-shadow: 0px 2px 10px rgb(255, 255, 255); */
    }
    .img_logo{
        margin-left: 12%;
        width: 15%;
        height: 100%;
    }
    .photo_about{
        /* margin-top: 0; */
        /* position: relative; */
        background-color: aliceblue;
        margin: auto;
        width: auto;
        height: fit-content;
        padding-bottom: 5%;
        padding-top: 5%;


    }
    .about{
        /* position: absolute; */
        display: flexbox;
        margin: auto;
        /* margin: 5% auto auto auto; */
        width: 70%;
        height: fit-content;
        border: solid 3px gold;
}
p{
    text-align: center;
}
.description{
    padding-left: 10%;
    padding-right: 10%;
}