* {
    border-radius: 40px;
}
/* html{
  width: 100%;
  height: 100%;
  background-color: #333;  
  font: 900 2em/2em 'Montserrat';
} */
body {
    margin: 0;
    margin-top: 5px;
    background-color: rgb(255, 237, 215);
}
.container {
    height: auto;
    width: auto;
    background-color: #ffcfff;
    background-image: linear-gradient(180deg, #ffcfff 0%, #97D9E1 100%);
    padding: 10px;
    border-top: solid 3px rgb(255, 135, 217);
}
ul {
    width: auto;
    display: flex;
}
li {
    display: flex;
    margin-left: 60px;
}
nav {
    display: flex;
    position: relative;
    margin-left: auto;
    padding: .2%;
    padding-right: 10%;
}
.ABOUT_ME {
    white-space: nowrap;
}
.btn {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
}
.btn:hover {
    transform: translateY(5px);
    color: rgb(207, 18, 93);
}
.logo {
    display: flex;
    margin-left: 60px;
}
img {
    width: 120px;
    height: auto;
    mix-blend-mode: multiply;
    opacity: 80%;
}
.content1 {
    margin-top: .25%;
    width: auto;
    height: 550px;
    background-color: #ffcfff;
    background-image: linear-gradient(0deg, #ffcfff 0%, #97D9E1 100%);
    display: flex;
    justify-content: center;
    border-bottom: solid 2px rgb(157, 145, 162);
}
.box {
    width: 350px;
    height: 30px;
    background-color: #97D9E1;
    background-image: linear-gradient(270deg, #97D9E1 0%, #ffcfff 50%, #97d9e1 100%);
    text-align: center;
    font-size: 25px;
    position: absolute;
    display: table;
    z-index: 1;
    padding: 2px;
    margin-top: 30px;
    border-left: 5px solid pink;
    border-right: 5px solid pink;
    border-top: .5px solid pink;
    border-bottom: .5px solid pink;
  }
  .box .el {
    display: table-cell;
    vertical-align: middle;
    font-size: 1em;
    font-weight: 500;

}
.footer {
    background-color: black;
    padding: 20px;
    border: solid 2px rgb(255, 255, 255);
    display: flex;
    position: relative;
}
.all-icons {
    padding: 10px;
    margin: auto;
    font-size: 30px;
}
.fa {
    padding: 12px 11px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 37px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: white;
    color: black;
}
.fa-instagram {
    background: white;
    color: black;
}
.fa-phone {
    background: white;
    color: black;
}
.fa-whatsapp {
    background: white;
    color: black;
    margin-right: 0;

}
p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    margin-bottom: 5px;
    width: fit-content;
    margin: auto;
    margin-top: 45px;
}
i{
    color: white;
position: absolute;
bottom: 0;
right: 0;
margin-right: 25px;
opacity: 45%;
}
