* {
    border-radius: 40px;
}

/* html{
  width: 100%;
  height: 100%;
  background-color: #333;  
  font: 900 2em/2em 'Montserrat';
} */
body {
    /* display: flex; */
    margin: auto;
    margin-top: 5px;
    background-color: rgb(255, 237, 215);

}

.container {
    height: auto;
    width: auto;
    background: linear-gradient(301.23deg, #957ddb 0, #ffffff 100%);

    /* background-color: pink; */
    padding: 10px;
    /* display: flex; */
    border: solid 3px rgb(105, 70, 222);
}

ul {
    width: auto;
    display: flex;

}

li {
    display: flex;
    margin-left: 60px;


}

nav {
    display: flex;
    /* float: right; */
    height: auto;
    width: auto;
    margin: auto
        /* margin-right: 0; */

}

.CONTACTS {
    margin-right: 20px;
}

.ABOUT_ME {
    white-space: nowrap;
}

.btn {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
}

.btn:hover {
    transform: translateY(5px);
    color: rgb(207, 18, 93);
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 60px;

}

img {
    width: 120px;
    height: auto;
    mix-blend-mode: multiply;
    opacity: 80%;
}
.content2 {
    margin-top: .25%;
    width: auto;
    height: 550px;
    background: linear-gradient(301.23deg, #957ddb 0, #ffffff 100%);
    display: flex;
    justify-content: center;
    border:2px solid #b49ef3;
}

.box {
    width: 350px;
    height: 30px;
    background: linear-gradient(301.23deg, #9d7ef9 0, #f5e3ff 100%);
    text-align: center;
    font-size: 25px;
    color: #fff;
    position: absolute;
    display: table;
    z-index: 1;
    padding: 2px;
    margin-top: 30px;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
  }
  
  .box .el {
    display: table-cell;
    vertical-align: middle;
    font-size: 1em;
    font-weight: 500;
    font-family:monospace;
  }

  .footer {
    height: auto;
    width: auto;
    background-color: #616476;
    margin-top: .25%;
    padding: 20px;
    border: solid 2px rgb(255, 255, 255);
    display: flex;
    justify-content: end;
    align-items: center;
}

.all-icons {
    padding: 10px;
}

.faceboook-color-background {
    border-radius: 70px;
    width: 50px;
    height: 50px;
    background-color: rgb(242, 242, 243);
    float: right;
    display: flex;


}
.fb img {
    width: 50px;
    height: 50px;
    margin: auto;
}
.insta img {
    width: 50px;
    height: 47px;
    margin: auto;
}
.insta {
    border-radius: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
    background-color: white;
    float: right;
    display: flex;
}
.whatsapp-bacround-color {
    background-color: white;
    border-radius: 70%;
    width: auto;
    height: auto;
    float: right;
}
.wap img {
    width: 48px;
    height: 46px;
    display: flex;
}
