@media (min-width: 250px) and (max-width: 480px) {
   
.header{
    position: relative;
    width: auto;
    height: auto;
    background-color: rgb(143, 112, 112);
    top: 2.5%;
}
img{
    position:absolute;
    width: auto;
    height: 90%;
    top: 10%;
}
.all-icons{
    width: auto;
    height: auto;
display: flex;
   font-size: small;
   margin-left: 12%;
   margin-right: 12%;

}
a{
visibility: hidden;
}
.phone{
position: absolute;
left: 20%;
}
.nr{
color: white;
}
.nr:hover{
    color: black;
}
.location{
    position: absolute;
left: 40%;
}
.loc{
    color: white;
    }
    .loc:hover{
        color: black;
    }
.message{
    position: absolute;
    right: 20%;}
.mes{
    color: white;
    }
    .mes:hover{
        color: black;
    }
    }