* {
    border-radius: 40px;
}
body {
    /* display: flex; */
    margin:auto;

}
.container {
    height:auto;
    width:auto;
    background-color: pink;
    padding: 10px;
    /* display: flex; */
    border: solid 3px rgb(255, 135, 217);
}
ul {
    width: auto;
    display: flex;
    
}
li {
    display: flex;
    margin-left: 60px;
    

}
nav {
    display: flex;
    /* float: right; */
    height: auto;
    width: auto;
    margin: auto
    /* margin-right: 0; */

}
.CONTACTS {
    margin-right: 20px;
}
.ABOUT_ME {
    white-space: nowrap;
}
.btn {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
}
.btn:hover{
    transform: translateY(5px);
    color: rgb(207, 18, 93);
}
.logo {
    display: flex;
    padding-left: 60px;
}
img {
    width: 100px;
    height: auto;
    mix-blend-mode: multiply;
    opacity: 80%;
}

.content1{
    margin-top: .25%;
    width: auto;
    height: 550px;
    background-color: rgb(255, 255, 255);
    display: flex;
    border: solid 3px rgb(162, 145, 148);
}

.footer {
    height: 210px;
    background-color: #31333e;
    margin-top: .25%;
    padding: 20px;
    /* display: flex; */
}
.all-icons{
    height: 100%;
    float: right;
    padding: 10px;
}
.faceboook-color-background{
    border-radius: 70px;
    width: 50px;
    height: 50px;
background-color: rgb(242, 242, 243);
float: right; 
display: flex;


}
.fb img{
    width: 50px;
    height: 50px;
    margin: auto;
}
.insta img{
    width: 50px;
    height: 47px;
    margin: auto;
}

.insta{
    border-radius: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
background-color:white;
    float: right;
    display: flex;

}
.whatsapp-bacround-color{
    background-color: white;
    border-radius: 70%;
    width: auto;
    height: auto;
        float: right;
}
.wap img{
    width: 48px;
    height: 46px;
    display: flex;
}

