* {
    border-radius: 40px;

}

body {
    display: flexbox;
    max-width: 1200px;
    margin: auto;
}

.container {
    height: auto;
    width: auto;
    background-color: pink;
    padding: 10px;

}

ul {
    width: auto;
    display: flex;
    /* width: 100px; */
    margin: 0 50px;
}

li {
    display: flex;
    margin-left: 60px;

}

nav {
    display: flex;
    height: auto;
    width: auto;
    max-width: max-content;
    margin: auto -20px;
    margin-right: 0;

}

.btn {}

.CONTACTS {
    margin-right: 20px;
}

.ABOUT_ME {
    white-space: nowrap;
}

.btn {
    font-size: 20px;
    text-decoration: none;
}
.btn:hover{
    transform: translateY(5px);
    color: rgb(207, 18, 93);
}
.logo {
    display: flex;
    padding-left: 60px;

}

img {
    width: 100px;
    height: auto;
    mix-blend-mode: multiply;
    opacity: 80%;
}