*{
    border-radius: 40px;
}
body{
    background-color: pink;
    /* display: flexbox; */
}
.nav{
width: auto;
height: 120px;
margin: auto auto .4%;
background-color: aqua;
padding: 10px;
padding-left: 5%;
/* mix-blend-mode: multiply; */
}
.logo{
width: auto;
height: 100%;

}
.box{
    width: auto;
    height: 555px;
    background-color: white;
}
.into-box{
    width: 100px;
    height: 100px;
    background-color: black;
margin: auto;
display: flex;
}